
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
                <a class="navbar-brand glyphicon glyphicon-chevron-left pull-left"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" >
                </a>
            <a class="navbar-brand" href="#">
                Image Editor
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           placeholder="facebook"
           ng-model="model.widget.name"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="facebook"
           ng-model="model.widget.text"
           id="text"/>


    <a class="btn btn-block btn-info" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search">
        Search
    </a>


    <form action="/api/assignment/graduate/uploads"  method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widgetId}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>


    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-block btn-danger">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text pull-right">
            <a href="#">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

