
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand glyphicon glyphicon-chevron-left pull-left"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" >
            </a>
            <a class="navbar-brand" href="#">
                Heading Editor
            </a>
            <p class="navbar-text pull-right">
                <a ng-click = "model.updateWidget(model.widget)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           placeholder="facebook"
           ng-model="model.widget.name"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="facebook"
           ng-model="model.widget.text"
           id="text"/>

    <label for="size">Size</label>
    <input ng-model="model.widget.size"
            id = "size"
            value = "2"
            type="number"
            class="form-control"/>


    <a ng-click="model.deleteWidget(model.widgetId)" class="btn btn-block btn-danger">Delete</a>

</div>

