
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header ">
            <a class="navbar-brand glyphicon glyphicon-chevron-left pull-left"
               href="#!/user/{{model.userId}}/website">
            </a>
            <a class="navbar-brand">Choose Widget</a>
            <p class="navbar-text pull-right">
                <a class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class = "wd-widget">
    <a ng-click="model.createWidget('HEADING')">
    <h3>Header</h3></a></div>


<div class="wd-widget">
    <a ng-click="model.createWidget('IMAGE')">
        <h3> Image</h3>
    </a>
</div>


<div class="wd-widget">
    <a ng-click="model.createWidget('YOUTUBE')">
        <h3> Youtube</h3>
    </a>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text pull-right">
            <a href="#">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>


