

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header ">
            <a class="navbar-brand glyphicon glyphicon-chevron-left pull-left"
               href="../website/website-list.html" >
            </a>
            <a class="navbar-brand">New Page</a>
            <p class="navbar-text pull-right">
                <a href="page-list.html"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <label for ="name">Name</label>
    <input class="form-control"
           id ="name"
           ng-model="pages.name"
           placeholder="My Page">

    <label for ="title">Title</label>
    <input class="form-control"
           id ="title"
           ng-model="pages.title"
           placeholder="Page Title">

    <a ng-click="model.createPage(page)"
       class="btn btn-block btn-success">
        Create
    </a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text pull-right">
            <a href="#">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
