<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="../../vendor/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="../../css/style.css"
          rel="stylesheet"/>
</head>


    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header ">
                <a class="navbar-brand glyphicon glyphicon-chevron-left pull-left"
                   href="widget-list.html.html" >
                </a>
                <a class="navbar-brand">Heading Editor</a>
                <p class="navbar-text pull-right">
                    <a href="widget-list.html"
                       class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>


    <div class="container-fluid">

                <label for="name">Name</label>
                <input class="form-control"
                       id="name"
                       value="name"
                       placeholder="Twitter"/>

                <label for="text">Text</label>
                <input class="form-control"
                       id="text"
                       value="text"
                       placeholder="US Senate Reaches Compromise"/>

                <label for="size">Size</label>
                <select id="size"
                        class="form-control">
                    <option>1 (Largest)</option>
                    <option>2 (Larger)</option>
                    <option>3 (Large)</option>
                    <option>4 (Medium)</option>
                    <option>5 (Small)(</option>
                    <option>6 (Smallest)</option>
                </select>


                <a href = "widget-list.html"
                   class="btn btn-block btn-danger"> Delete</a>
    </div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text pull-right">
            <a href="#">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>


</body>
</html>