
<div class="container-fluid" ng-controller="movieController">
    <div class="input-group">
        <input ng-model="searchText"
               type="text"
               class="form-control">
        <span class="input-group-btn">
        <a ng-click="model.searchMovies(searchText)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
        </span>
    </div>
</div>



<div class="container-fluid">
    <div class="movie">
        <div class="row">
            <div ng-repeat="movie in model.movies">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">

                        <h4>{{movie.Title}}({{movie.Year}})</h4>
                        <h3>{{movie.imdbID}}</h3>

                        <a href="#!/movie/{{movie.imdbID}}">
                            <img ng-src="{{movie.Poster}}" class="img-responsive" width="100%">
                        </a>
                        {{model.movie}}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
